.navbar {
    background-color: #311377;
    color: white;
}

.navbar i {
    color: white;
}

.card {
    background-color: #311377 !important;
}

.card * {
    color: white;

}

.btn {
    background-color: #721377;

}