:root {
    --primary-bg-color: #311377;
    --secondary-bg-color: #721377;
    --hover-bg-color: #AB24B2;
    --text-color: white;
}


@media (max-width: 576px) {
    .footers {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

.navbar {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.navbar ul {
    background-color: var(--secondary-bg-color);
}

.navbar a,
.navbar i {
    color: var(--text-color);
}

.navbar a {
    font-size: 2vh;
    text-decoration: none;
}

.navbar i {
    font-size: 4vh;
}

.card {
    background-color: var(--primary-bg-color) !important;
    color: var(--text-color);
}

.btn {
    background-color: var(--secondary-bg-color) !important;
    color: var(--text-color) !important;
}

.btn:hover {
    background-color: var(--hover-bg-color) !important;
}