:root {
    --primary-bg-color: #311377;
    --secondary-bg-color: #721377;
    --hover-bg-color: #AB24B2;
    --text-color: white;
}


@media (max-width: 576px) {
    .card{
        width: 90% !important;
    }
    .footers {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

table tbody{
    background-color: var(--secondary-bg-color);
}


table tbody tr td input,
table thead,
table tbody tr td textarea{
    color: var(--text-color) !important;
    background-color:transparent !important;
    border: none !important;
}
.navbar {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.navbar ul {
    background-color: var(--secondary-bg-color);
}

.navbar a,
.navbar i {
    color: var(--text-color);
}

.navbar a {
    font-size: 2vh;
    text-decoration: none;
}

.navbar i {
    font-size: 4vh;
}

.card {
    background-color: var(--primary-bg-color) !important;
    color: var(--text-color);
}

.btn {
    background-color: var(--secondary-bg-color) !important;
    color: var(--text-color) !important;
}

.btn:hover {
    background-color: var(--hover-bg-color) !important;
}